.form-container {
  width: 20vw;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(128, 124, 124);

  
}

.group-container {
  width: 20vw;
  /* background-color: aqua; */
}