
.card-container {
  width: 20vw;
  border: blue solid 5px;
  border-radius: 20px 20px;
  margin: .9vw;
  padding: 1vw;
  background: linear-gradient(white, rgb(165, 164, 169));
  justify-content: space-between;
  
  
  
}

.card-image {
  width:  14vw;
  height: 14vw;
  /* border: 3px solid ; */
  box-shadow: 0px 0px 15px 5px darkgrey;
  border-radius: 25px;
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;

}

















